<div>
  <h1><%= "the booking in #{@booking.bootcamp.name.capitalize}" %></h1>
  <p><%="for #{@booking.user.name}" %></p>
</div>

<ul>
<li><%="check-in at #{@booking.start_date}" %></li>
<li><%="check-out at #{@booking.end_date}" %></li>

</ul>
