
  <div class="banner_home">
    <h1 class="gaming_house">Gaming House</h1>
    <div class="video">
      <video playsinline muted autoplay loop>
        <source src="https://res.cloudinary.com/juliocb01/video/upload/v1654195205/eSports%20Bootcamps/pexels-yan-krukov-9071228_1_nf6cez.mp4" type="video/mp4">
      </video>
    </div>
  </div>
    <p class="message_below_video">take your game to the next level</p>

<div class="feature bootcamps">
  <h3>Featured Bootcamps in São Paulo</h3>

</div>
