
<h1 class="gaming_house">Gaming House</h1>
<div id="header">
</div>
<div class="about_us">
  <h3>About us</h3>
  <p>Our goal is to help aspiring professional players to find the best facilities to practice and take their game to the next level.</p>
</div>

<div class="feature bootcamps">
  <h3>Featured Bootcamps in São Paulo</h3>
</div>
