<h1 class="gaming_house">Gaming House</h1>
<div id="header">
</div>
<div class="about_us">
  <h3>About us</h3>
  <p>Our goal is to help aspiring professional players to find the best facilities to practice and take their game to the next level.</p>
</div>

<div class="feature bootcamps">
  <h3>Feature Bootcamps in São Paulo</h3>
</div>
<div class="row">
  <div class="column">
    <div class="card">
    <img src="https://images.squarespace-cdn.com/content/v1/5ea20a68355fab399f73b8bc/1588370975461-8CWFE6U61LPL8H8H7YIA/pc.jpg?format=500w" alt="">
      <strong>Eletrongames lan house</strong>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit debitis earum laborum, repudiandae nisi repellendus suscipit a quis ipsam magni veniam quidem. Impedit a et esse, animi nobis modi omnis.</div>
  </div>
  <div class="column">
    <div class="card">
    <img src="https://images.squarespace-cdn.com/content/v1/5ea20a68355fab399f73b8bc/1588371051765-SOWIYTOO0EIDGJMRYR1T/gaming%2Bbooth.jpg?format=500w" alt="">
      <strong>Lan house cyber galaxy</strong>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam nisi nemo vitae reiciendis. Harum cumque excepturi eos magni consequatur maxime tenetur, ex ullam reiciendis ea est quae? Provident, atque sunt?</div>
  </div>
  <div class="column">
    <div class="card">
    <img src="https://images.squarespace-cdn.com/content/v1/5ea20a68355fab399f73b8bc/1588371140442-NX2NFXFVNMID9XFCNIMT/couches.jpg?format=500w" alt="">
      <strong>Lan house quest</strong>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit inventore rerum ab architecto commodi voluptatibus, repellendus ipsam animi tenetur! Consequatur odit hic nihil excepturi quidem fuga. Consequatur sequi sapiente quam.</div>
  </div>
  <div class="column">
    <div class="card">
    <img src="https://images.squarespace-cdn.com/content/v1/5ea20a68355fab399f73b8bc/1593527433819-0F1WN16BPP6VQ8HAQR17/Prices+VR.JPG?format=500w" alt="">
      <strong>Lan house condessa</strong>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum temporibus omnis molestias nesciunt minus ipsum illo vitae possimus veritatis maiores iusto blanditiis tenetur ex illum, voluptates expedita. Magnam, autem voluptatibus!</div>
  </div>
</div>
