<h1 class="gaming_house">Gaming House</h1>
<div id="header">
</div>
<div class="about_us">
  <h3>About us</h3>
  <p>Our goal is to help aspiring professional players to find the best facilities to practice and take their game to the next level.</p>
</div>

<div class="feature bootcamps">
  <h3>Feature Bootcamps in São Paulo</h3>
</div>
<div class="row">
  <div class="column">
    <div class="card">
    <img src="https://images.squarespace-cdn.com/content/v1/5ea20a68355fab399f73b8bc/1588370975461-8CWFE6U61LPL8H8H7YIA/pc.jpg?format=500w" alt="">
      <strong>Eletrongames lan house</strong>
      Pinheiros, São Paulo</div>
  </div>
  <div class="column">
    <div class="card">
    <img src="https://images.squarespace-cdn.com/content/v1/5ea20a68355fab399f73b8bc/1588371051765-SOWIYTOO0EIDGJMRYR1T/gaming%2Bbooth.jpg?format=500w" alt="">
      <strong>Lan house cyber galaxy</strong>
      Vila Sumaré, São Paulo</div>
  </div>
  <div class="column">
    <div class="card">
    <img src="https://images.squarespace-cdn.com/content/v1/5ea20a68355fab399f73b8bc/1588371140442-NX2NFXFVNMID9XFCNIMT/couches.jpg?format=500w" alt="">
      <strong>Lan house quest</strong>
      Liberdade, São Paulo</div>
  </div>
  <div class="column">
    <div class="card">
    <img src="https://images.squarespace-cdn.com/content/v1/5ea20a68355fab399f73b8bc/1593527433819-0F1WN16BPP6VQ8HAQR17/Prices+VR.JPG?format=500w" alt="">
      <strong>Lan house condessa</strong>
      Vila Madalena, São Paulo</div>
  </div>
</div>
