.form-login {
  background: #1e2528;
  padding: 10px 20px;
  margin-top: 50px;

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: rgba(35, 196, 131, 1);
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}
