
.navbar-lewagon {
  justify-content: space-between;
  .nav-link {
    color: rgba(250, 250, 250, 0.6);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: #1e2528;
  background-image: linear-gradient(147deg, #1e2528 0%, rgba(14, 246, 190, 0.3) 74%);
}
